.region__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: $wwa + px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.region__content {
  max-width: 460px;
  width: 100%;
  margin: 24px 0 0 0;

  @media screen and (max-width: $wwa + px) {
    max-width: none;
  }
}

.region-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 1;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: $wwa + px) {
    height: 360px;
  }

  @media screen and (max-width: $wwa + px) {
    height: auto;
  }
}

.region-subtitle {
  font-family: $ffMain;
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 0 0;
}

.region__list {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-auto-flow: column;
  column-gap: 8px;
  row-gap: 4px;
  margin: 16px 0 0 0;

  & li {
    margin: 2px;
    & a {
      line-height: 1.3;
      white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
    }
  }

  @media screen and (max-width: 560px) {
    grid-template-rows: repeat(5,1fr);
  }

  @media screen and (max-width: 420px) {
    grid-template-rows: repeat(8,1fr);
  }
}

.btn-outline {

}

.region-btn {
  margin: 32px 0 0 0; 
}

@import '_map';