.faq__body {
  display: flex;
  align-items: flex-start;
  margin: 24px 0 0 0;

  @media screen and (max-width: $wwa2 + px) {
    flex-direction: column;
  }
}

.faq__content {
  max-width: 500px;
  margin: 0 24px 0 0;

  @media screen and (max-width: $wwa2 + px) {
    max-width: none;
  }
}

.faq__acc__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media screen and (max-width: $wwa2 + px) {
    margin: 24px 0 0 0;
  }
}

.faq__acc {
  border: 1px solid $outline;
  border-radius: 6px;
  overflow: hidden;
}

.faq__acc__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 24px;
  cursor: pointer;

  &._open {

    & .faq__acc-title {
      color: $accent2;
    }

    & .faq__acc-arrow {
      transform: scale(-1);
    }
  }

  @media screen and (max-width: $wwa3 + px) {
    padding: 9px 16px;
  }
}

.faq__acc-title {
  font-family: $ffMain;
  font-size: 16px;
  font-weight: 600;
  transition: $tr;
}

.faq__acc-arrow {
  min-width: 24px;
  width: 24px;
  height: 24px;
  transition: $tr;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.faq__acc__body {
  max-height: 0;
  transition: $tr;
}

.faq__acc-text {
  padding: 10px 24px 12px;


  & a {
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $wwa3 + px) {
    padding: 10px 16px 12px;
  }
}