.review-page {
    margin: 24px 0 0 0;
}

.review-page__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;

    @media screen and (max-width: $wwa + px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $wwa3 + px) {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 16px;
        row-gap: 16px;
    }
}