.posts {
    margin: 64px 0 0 0;
}

.posts__block {

}

.posts__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 24px;

    @media screen and (max-width: $wwa2 + px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
    }
}