.select__more {
  width: 100%;
  position: relative;
}

.select__more__header {
  padding: 2px 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid $outline;
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;

  &._show {
    border-radius: 6px 6px 0 0;

    & ~ .select__more__body {
      visibility: visible;
      opacity: 1;
    }

    & .select__more-icon {

      & svg path:first-child {
        // height: 0;
        transform: translate(50%) scale(0);
      }
    }
  }
}

.select__more-title {
  font-size: 14px;
  font-weight: 600;
  background: inherit;
  user-select: none;
}

.select__more-icon {
  width: 16px;
  height: 16px;

  & svg {
    width: 100%;
    height: 100%;

    & path {
      // transition: $tr;
    }
  } 
}

.select__more__body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  transform: translate(0,calc(100% - 1px));
  background: #fff;
  border: 1px solid $outline;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  transition: $tr;

  &::-webkit-scrollbar {
      width: 5px;
      background-color: #F1F1F1;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;
  }
}

.select__more__list {
  padding: 4px;
}

.select__more-item {
  font-size: 14px;
  font-weight: 600;
  color: $second;
  padding: 4px 10px;
  border-radius: 4px;
  transition: $tr;
  cursor: pointer;
  transition: $tr;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 12px;
    transform: translate(0,-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10.42L0 5.42L1.41 4.01L5 7.59L12.59 0L14 1.42L5 10.42Z' fill='%234744E9'/%3E%3C/svg%3E");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 12px;
    height: 12px;
    transform: translate(0,-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 6.4425L6.4425 7.5L3.75 4.8075L1.0575 7.5L0 6.4425L2.6925 3.75L0 1.0575L1.0575 0L3.75 2.6925L6.4425 0L7.5 1.0575L4.8075 3.75L7.5 6.4425Z' fill='%23DB6868'/%3E%3C/svg%3E");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    // color: $main;
    background: $link-hover;

    &::before {
      visibility: visible;
      opacity: 1;
      filter: grayscale(1);
    }
  }

  &._selected {
    color: $accent2;
    // cursor: auto;
    // pointer-events: none;
    // color: $accent2; 
    // background: rgba(71, 68, 233, .1);

    &::before {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      color: #DB6868;

      &::after {
        visibility: visible;
        opacity: 1;
      }

      &::before {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
