.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 11;
  transition: $tr;
  pointer-events: none;

  &._show {
    background: $bg-modal;
    backdrop-filter: blur(3px);
    pointer-events: all;

    & .menu__sidebar {
      transform: translate(0);
    }
  }
}

.menu__sidebar {
  max-width: 320px;
  width: 100%;
  min-height: 100%;
  background: #fff;
  transform: translate(-100%,0);
  transition: $tr;

  @media screen and (max-width: 370px) {
    max-width: none;
  }
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);

  @media screen and (max-width: $wwa3 + px) {
    padding: 10px 24px;
  }
}

.menu-title {
  font-size: 20px;
  font-weight: 700;

  @media screen and (max-width: $wwa3 + px) {
    font-size: 20px;
  }
}

.menu__body {
  padding: 16px;
}

.menu__list {

  & li {
    padding: 2px 0;
  }
}

.menu__list li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0s;

  &:hover {
    background: $link-hover;
    color: inherit;
  }
}

.menu__list__header {
  display: flex;
  align-items: center;
}

.menu-arrow {
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: $tr;

  &:hover {
    background: $link-hover;
    color: inherit;
  }

  &._active {

    & svg {
      transform: scale(-1);
    }
  }

  & svg {
    transition: $tr;
  }
}

.menu__list__body {
  max-height: 0;
  overflow: hidden;
  transition: .4s;

  & .menu-item a {
    font-size: 15px;
    color: $second;
    padding: 6px 12px 6px 16px;
  }
}

.menu-item-hide {
  display: none;
}

.menu__child__list {


  & .menu__list li a {
    padding: 4px 16px;
    color: var(--second);
    font-size: 15px;
    font-weight: 500;
  }
}