.support__body {
  display: flex;
  margin: 24px 0 0 0;

  @media screen and (max-width: $wwa2 + px) {
    flex-direction: column;
  }
}

.support__content {
  max-width: 500px;
  width: 100%;
  margin: 0 24px 0 0;

  & p { 
  
    & a {
      font-weight: 600;
      text-decoration: underline;
      white-space: nowrap;
  
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $wwa2 + px) {
    max-width: none;
  }
}


@import '_form';

.support-page {
  margin: 0 0 64px 0;

  & .support-title {
    display: none;
  }
}
