.calc {

  @media screen and (max-width: $wwa3 + px) {
    & .container {
      padding: 0;
    }
  }
}

.calc__body {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $wwa2 + px) {
    flex-direction: column-reverse;
  }
}

.calc-map {
  max-width: 567px;
  width: 100%;
  height: 552px;
  border-radius: 10px;
  background: #f2f2f2;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: $wwa2 + px) {
    max-width: none;
    margin: 24px 0 0 0;
  }
}

.map__download {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-text {
    font-size: 16px;
    color: $second;
  }

  &-icon {
    width: 12px;
    height: 12px;
    display: flex;
    margin: 2px 0 0 8px;
    
    & svg {
      width: 100%;
      height: 100%;
      animation: mapDownloadIcon 1s linear infinite;
    }
  }
}

@keyframes mapDownloadIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#map-way {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.calc__content {
  max-width: 516px;
  width: 100%;
  margin: 0 0 0 24px;

  @media screen and (max-width: $wwa2 + px) {
    max-width: none;
    margin: 0;
  }
}

@import '_computing';
@import '_person';

.calc__footer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  padding: 24px 0 0 0;
  margin: 24px 0 0 0;
  border-top: 1px solid $outline;

  @media screen and (max-width: $wwa3 + px) {
    padding: 24px 16px 0 16px;
  }
}

.calc__footer__info {
  display: flex;
  flex-direction: column;
}

.calc__footer-total,
.calc__footer-route,
.calc__footer-time {
  font-size: 18px;
  font-weight: 600;
  color: $second;

  & span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700; 
    color: $main;
  }
}


.calc__footer-route,
.calc__footer-time {
  font-size: 16px;
}

.calc__footer__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.calc__footer-btn {

  &._hidden {
    display: none;
  }
}

.calc__footer-btn-next {
  margin: 0 0 0 auto;
}

.calc__footer-btn-order {
  margin: 0 0 0 auto;
}