$calcTopMargin: 16px 0 0 0;

.calc__comp {
}

.calc-title {
  margin: 0 0 16px 0;

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }
}

.calc__address {

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }
}

.calc-subtitle {
  font-family: $ffMain;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.calc__class .calc-subtitle {
  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 420px) {
    margin: 0;
  }
}

.calc__address__body {
  display: grid;
  // grid-template-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 8px;

  @media screen and (max-width: 420px) {
    grid-template-columns: 1fr;
    position: relative;
    row-gap: 12px;
  }
}

.calc__additionaly {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

.input[data-show-input] {
  display: none;
  margin: 12px 0 0 0;

  &._show {
    display: block;
  }
}

.checkbox__list {
  margin: 12px 0 0 0;
}
 
.input {

}

._req {

}

.calc__address-swap {
// .calc__address-add-address {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $outline;
  border-radius: 4px;
  // margin: 0 8px;
  transition: $tr;

  & svg {
    width: 14px;
    height: 14px;
  }

  &:hover {
    background: $link-hover;
  }

  @media screen and (max-width: 420px) {
    position: absolute;
    z-index: 1;
    background: #fff;
    right: 8px;
    top: 50%;
    transform: translate(0px, -50%) rotate(90deg);
  }
}

.calc__address-add-address {
  border-radius: 20px;
}

.calc__date {
  margin: $calcTopMargin;

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }
}

// .calc__date__body {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   // grid-template-columns: 1.4fr .8fr .8fr; 
//   column-gap: 8px;

//   & .input {
//     display: none;

//     &._show {
//       display: block;
//       width: 60%;
//     }
//   }
// }

@import '_date-block';

.calc__class__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 16px;
  row-gap: 12px;

  @media screen and (max-width: 420px) {
    // grid-template-columns: repeat(4, 160px);
    // grid-template-rows: 1fr;
    // column-gap: 8px;
    // row-gap: 8px;
    // padding: 5px 0;
    display: flex;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    padding: 10px 0 10px 16px;
    transform: translate(-16px,0);
  }
}

.calc__class-plug {
  @media screen and (max-width: 420px) {
    display: block;
    min-width: 16px;
    height: 60px;
  }
}

.calc__class__block {

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 420px) {
    padding: 0;
    overflow-y: auto;
  }
}

.calc__class {
  margin: $calcTopMargin;
}

.calc__class-card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  border: 1px solid $outline;
  border-radius: 10px;
  padding: 8px 12px;
  overflow: hidden;
  position: relative;
  transition: $tr;
  cursor: pointer;
  user-select: none;

  &._selected {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);

    @media screen and (max-width: 420px) {
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      transform: scale(1.03);
    }

    & .calc__class-select {
      visibility: visible;
      opacity: 1;
    }
    
    & .calc__class-img {
      transform: translate(0, -50%);

      @media screen and (max-width: 470px) {
        transform: translate(-10%, -50%);
      }

      @media screen and (max-width: 440px) {
        transform: translate(-20%, -50%);
      }

      @media screen and (max-width: 380px) {
        transform: translate(-30%, -50%);
      }

      & img {
        filter: grayscale(0);
      }
    }
  }

  @media screen and (min-width: $minHover + px) {
    &:hover {
      // transform: translate(0,-5px);
      // box-shadow: 0 5px 10px rgba(0,0,0,.1); */
      transform: scale(1.03);
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);

      & .calc__class-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:active {
    transform: scale(1);
    box-shadow: none;

    @media screen and (max-width: 420px) {
      transform: none;
      background: rgba(0,0,0,.02);
    }
  }

  @media screen and (max-width: 520px) {
    height: 70px;
    padding: 4px 12px;
  }

  @media screen and (max-width: 420px) {
    min-width: 42vw;
    height: 60px;
    padding: 4px 12px;
    margin: 0 32px 0 -16px;
    // box-shadow: 0 0 10px rgb(0 0 0 / 10%);

    &:first-child {
      margin: 0 32px 0 16px;
    }

    &:nth-child(4) {
      margin: 0 0 0 -16px;
    }
  }
}

// .calc__class-card__body {
  
// }

.calc__class-img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  transform: translate(-36px,-50%);
  transition: $tr;
  pointer-events: none;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(.9);
  }

  @media screen and (max-width: 470px) {
    transform: translate(-34%,-50%);
  }

  @media screen and (max-width: 420px) {
    transform: translate(-45%,-50%);
  }
}

.calc__class__content {
  text-align: right;
  position: relative;
  z-index: 1;
}

.calc__class-title {
  font-size: 18px;

  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
}

.calc__class-price {
  font-weight: 800;
  color: $accent2;
}

.calc__class-select {
  width: 22px;
  height: 22px;
  visibility: hidden;
  opacity: 0;
  transition: $tr;
  margin: 2px 0 0 auto;

  & svg {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 520px) {
    width: 18px;
    height: 18px;
  }
}

.calc__class-info {
  position: absolute!important;
  bottom: 8px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $outline;
  border-radius: 20px;
  background: #fff;
  transition: $tr;
  visibility: hidden;
  opacity: 0;

  &:hover {
    background: $link-hover;
  }
}

.calc__class-info-tooltip {
  transform: translate(0,-100%);
}

.calc__services {
  margin: $calcTopMargin;

  & .calc-subtitle {
    margin: 0;
  }

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 16px;
  }
}

.calc__services__select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 6px;
  margin: 10px 0 0 0;
}

.calc__services__item {
  background: #fafafa;
  padding: 2px 6px;
  border: 1px solid $outline;
  border-radius: 6px;
  cursor: pointer;
  transition: $tr;

  &:hover {
    // transform: translate(0,-4px);
    // box-shadow: 0 4px 10px rgba(0,0,0,.1); 
    border-color: rgba(219, 104, 104, 0.5);
    background: rgba(219, 104, 104, 0.1);

    & .calc__services__select-text {
      color: #DB6868;
    }

    & .calc__services__select-remove svg path {
      stroke: #DB6868; 
    }
  }
}

.calc__services__select-text {
  font-size: 14px;
  font-weight: 600;
  color: $second;
  user-select: none;
  transition: $tr;
}

.calc__services__select-remove {

  & svg path {
    transition: $tr;
  }
}

.calc__services__body {
  margin: 6px 0 0 0;
}